.banner {
  width: 800px;
  height: 150px;
  background-color: rgba(255, 216, 204);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bannerCont {
  display: flex;
  justify-content: center;
}


.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

.headercolor {
  background-color: #5068A9;
}

.footerdesc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: right;
}
