body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFEEDB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  padding: 0 1rem;
}
/* .content {
  background-color: #FFEEDB;
  min-height: calc(100vh - 70px - 63px);
  padding: 1.5rem 0;
} */
.user {
  display: flex;
  flex-direction: column;
}
.user-content {
  flex-grow: 1;
}
.profile {
  background-color: #FFEEDB;
  padding: 1.5rem 0;
}

.login {
  margin-top: 5%;
  width: 300px;
}

.reg {
    margin-top: 5%;
    width: 300px;
}

